#!/bin/bash
if [ "$#" -ne 1 ]; then
    echo "Illegal number of parameters"
    exit 1
fi


docker run \
  -d \
  -it \
  --restart=always \
  --network=host \
  --volume $(realpath $1):/CONFIGURATION \
  --name dicom_node \
  -e SCP_HOSTNAME=dcpt-frog2.onerm.dk \
  -e SCP_PORT=11113 \
  -e SCP_AE_TITLE=DL_pipe \
  mathiser/inference_server_dicom_node:dev
