{
  "modality_regex": "", # Matches everything
  "series_description_regex": "", # Matches everything
  "study_description_regex": "", # Matches everything
  "sop_class_uid_regex": "", # Matches everything
  "exclude_regex": "a^", # Matches nothing
  "inference_server_url": "https://omen.onerm.dk/api/tasks/",
  "model_human_readable_id": "cns_t1_oars",
  "scus":[
    {
      "scu_ip": "127.0.0.1",
      "scu_port":  "11111",
      "scu_ae_title": "DICOM_ENDPOINT_AE"}
  ]
}